:host {
    display: grid;
    grid-template-rows: 80px 1fr;
    height: 100%;
    background-color: rgb(57,57,57);

    .content-container {
        display: grid;
        grid-template-columns: 300px 1fr;
    }
}